name: Main Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: $(cat rust-toolchain)
          components: rustfmt, clippy

      - name: Compile
        run: cargo test --no-run

      - name: Test
        run: cargo test --all --verbose --no-fail-fast

  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: $(cat rust-toolchain)
          components: rustfmt, clippy

      - name: Run clippy 
        run: cargo clippy --all-features --all-targets -- -D warnings

  cargo-fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: $(cat rust-toolchain)
          components: rustfmt, clippy

      - name: Run rustfmt 
        run: cargo fmt --all --check
